
body{
    background-image: url("../img/bg.jpg");
}


/*     main      */

#main{
    /* border: solid 5px red; */
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.column{
    column-width: 350px;
    column-gap: 15px;
}

.column div, .column figure{
    display: inline-block;
    margin:0;
    margin-bottom: 15px;
    padding:5px;
    padding: 0;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.column figure img, .column div .thumbnail{
    width:100%;
    border-radius: 1.5rem;
    
}

.container{
    /* border: 3px solid red; */
    display: inline-block;
    position: relative;
    height: 100%;
    width: auto;
}
.thumbnail{
height: 100%;
width:auto;
}
.profile{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:150px;
    height: 150px;
    border-radius: 100%;
    opacity: 0;
    /* border:solid white 10px; */
}
div .rectangle{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
    top:50%;
    left:0;
    opacity: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0%;
}
div .text{
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: black;
    /* border: solid 3px red; */
    box-shadow: none;
    margin: 1rem;

}
.container:hover .overlay{
    opacity: 1;
}
.container:hover .thumbnail{
    opacity: 0.5;
}
.page_number{
    text-align: center;
}

